@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    display: none;
}
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600&display=swap');

.otp-input > * input {
   padding: 5% !important;
   width: 100% !important;
   font-size: 20px !important;
  }
  /* Checkboxni xususiylashtirish */
body{
    background-color: #111827;
}

.masterOrSalonName .ant-select-selector {
    background-color: #B9B9C9 !important;
    /* color: chartreuse !important; */
    height: 100% !important;
    border: none !important;
    box-shadow: none !important;
    width: 100% !important;
    padding: 0 !important;
    font-size: 16px !important;
}